header {
  background-color: #52637B;
  text-align: center;
  color: white;

}

h1{
  font-size: 70px;
  width: 45%;
  border-bottom: white solid;
  margin: auto;
  color: white;

}
nav {
  width: 22%;
  padding: 5px;
  margin: 2px;
  box-sizing: border-box;
  float: left;
  background-color: #FFFAF3;
}

#rightSidebar {
  width: 22%;
  padding: 5px;
  margin: 2px;
  box-sizing: border-box;
  float: left;
  background-color: #FFFAF3;
}

#mainContent {
 width: 55%;
 padding: 5px;
 margin: 2px;
 box-sizing: border-box;
 border: 5px solid #52637B;
 float: left;
}
